USE [OnlineRecruitmentSystem]
GO
/****** Object:  Table [dbo].[application_status_histories]    Script Date: 7/14/2026 3:23:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_status_histories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action_type] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate_evaluations]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate_evaluations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[evaluation_notes] [nvarchar](max) NULL,
	[score] [decimal](5, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate_profiles]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[communications]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[communications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](255) NOT NULL,
	[verification_status] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[website] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[tax_code] [nvarchar](50) NULL,
	[logo_url] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_profile_update_requests]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_profile_update_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[requested_data] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_verification_documents]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_verification_documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[document_url] [nvarchar](500) NOT NULL,
	[document_type] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_verification_requests]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_verification_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[submitted_at] [datetime] NULL,
	[moderator_id] [int] NULL,
	[moderator_notes] [nvarchar](max) NULL,
	[processed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cv_educations]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cv_educations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cv_id] [int] NOT NULL,
	[school_name] [nvarchar](255) NOT NULL,
	[major] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cv_experiences]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cv_experiences](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cv_id] [int] NOT NULL,
	[company_name] [nvarchar](255) NOT NULL,
	[position] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cv_skills]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cv_skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cv_id] [int] NOT NULL,
	[skill_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cvs]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cvs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[cv_name] [nvarchar](255) NOT NULL,
	[file_url] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interviews]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[creator_id] [int] NOT NULL,
	[scheduled_time] [datetime] NOT NULL,
	[location] [nvarchar](255) NULL,
	[meeting_link] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_applications]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[job_post_id] [int] NOT NULL,
	[cv_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[applied_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_categories]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_post_skills]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_post_skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_post_id] [int] NOT NULL,
	[skill_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_post_versions]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_post_versions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_post_id] [int] NOT NULL,
	[version_data] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_posts]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[validation_status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_reports]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[job_post_id] [int] NOT NULL,
	[reason] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_validation_requests]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_validation_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_post_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[moderator_notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[moderator_id] [int] NULL,
	[processed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moderation_actions]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moderation_actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[report_id] [int] NULL,
	[moderator_id] [int] NOT NULL,
	[action_taken] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_settings]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[email_alerts] [bit] NULL,
	[sms_alerts] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expires_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recruiter_profiles]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recruiter_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](20) NULL,
	[gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saved_jobs]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saved_jobs](
	[candidate_id] [int] NOT NULL,
	[job_post_id] [int] NOT NULL,
	[saved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[candidate_id] ASC,
	[job_post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_refresh_tokens]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_refresh_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expires_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[verification_tokens]    Script Date: 7/14/2026 3:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[verification_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expires_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[application_status_histories] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[candidate_evaluations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[candidate_profiles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[communications] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT ('DRAFT') FOR [verification_status]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[company_profile_update_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[company_profile_update_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[company_verification_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[company_verification_requests] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[cvs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[job_applications] ADD  DEFAULT ('SUBMITTED') FOR [status]
GO
ALTER TABLE [dbo].[job_applications] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[job_post_versions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[job_posts] ADD  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[job_posts] ADD  DEFAULT ('NOT_SUBMITTED') FOR [validation_status]
GO
ALTER TABLE [dbo].[job_posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[job_reports] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[job_reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[job_validation_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[job_validation_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[moderation_actions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notification_settings] ADD  DEFAULT ((1)) FOR [email_alerts]
GO
ALTER TABLE [dbo].[notification_settings] ADD  DEFAULT ((0)) FOR [sms_alerts]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[saved_jobs] ADD  DEFAULT (getdate()) FOR [saved_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('EMAIL_PENDING') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[application_status_histories]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[job_applications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[candidate_evaluations]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[job_applications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[candidate_profiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[communications]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[job_applications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[communications]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[company_profile_update_requests]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[companies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_verification_documents]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[company_verification_requests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_verification_requests]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[companies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_verification_requests]  WITH CHECK ADD  CONSTRAINT [FK_company_verification_requests_users] FOREIGN KEY([moderator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[company_verification_requests] CHECK CONSTRAINT [FK_company_verification_requests_users]
GO
ALTER TABLE [dbo].[cv_educations]  WITH CHECK ADD FOREIGN KEY([cv_id])
REFERENCES [dbo].[cvs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cv_experiences]  WITH CHECK ADD FOREIGN KEY([cv_id])
REFERENCES [dbo].[cvs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cv_skills]  WITH CHECK ADD FOREIGN KEY([cv_id])
REFERENCES [dbo].[cvs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cvs]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidate_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[interviews]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[job_applications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[interviews]  WITH CHECK ADD FOREIGN KEY([creator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[job_applications]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidate_profiles] ([id])
GO
ALTER TABLE [dbo].[job_applications]  WITH CHECK ADD FOREIGN KEY([cv_id])
REFERENCES [dbo].[cvs] ([id])
GO
ALTER TABLE [dbo].[job_applications]  WITH CHECK ADD FOREIGN KEY([job_post_id])
REFERENCES [dbo].[job_posts] ([id])
GO
ALTER TABLE [dbo].[job_post_skills]  WITH CHECK ADD FOREIGN KEY([job_post_id])
REFERENCES [dbo].[job_posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_post_versions]  WITH CHECK ADD FOREIGN KEY([job_post_id])
REFERENCES [dbo].[job_posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_posts]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[job_categories] ([id])
GO
ALTER TABLE [dbo].[job_posts]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[companies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_reports]  WITH CHECK ADD FOREIGN KEY([job_post_id])
REFERENCES [dbo].[job_posts] ([id])
GO
ALTER TABLE [dbo].[job_reports]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[job_validation_requests]  WITH CHECK ADD FOREIGN KEY([job_post_id])
REFERENCES [dbo].[job_posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_validation_requests]  WITH CHECK ADD  CONSTRAINT [FK_job_validation_requests_users] FOREIGN KEY([moderator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[job_validation_requests] CHECK CONSTRAINT [FK_job_validation_requests_users]
GO
ALTER TABLE [dbo].[moderation_actions]  WITH CHECK ADD FOREIGN KEY([moderator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[moderation_actions]  WITH CHECK ADD FOREIGN KEY([report_id])
REFERENCES [dbo].[job_reports] ([id])
GO
ALTER TABLE [dbo].[notification_settings]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidate_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recruiter_profiles]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[companies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recruiter_profiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[saved_jobs]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidate_profiles] ([id])
GO
ALTER TABLE [dbo].[saved_jobs]  WITH CHECK ADD FOREIGN KEY([job_post_id])
REFERENCES [dbo].[job_posts] ([id])
GO
ALTER TABLE [dbo].[user_refresh_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[verification_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[companies]  WITH CHECK ADD CHECK  (([verification_status]='UPDATING' OR [verification_status]='SUSPENDED' OR [verification_status]='REVISION_REQUIRED' OR [verification_status]='REJECTED' OR [verification_status]='APPROVED' OR [verification_status]='PENDING' OR [verification_status]='DRAFT'))
GO
ALTER TABLE [dbo].[company_verification_requests]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[job_applications]  WITH CHECK ADD CHECK  (([status]='WITHDRAWN' OR [status]='REJECTED' OR [status]='HIRED' OR [status]='OFFERED' OR [status]='INTERVIEWED' OR [status]='INTERVIEW_SCHEDULED' OR [status]='SHORTLISTED' OR [status]='UNDER_REVIEW' OR [status]='SUBMITTED'))
GO
ALTER TABLE [dbo].[job_posts]  WITH CHECK ADD CHECK  (([status]='EXPIRED' OR [status]='CLOSED' OR [status]='UNPUBLISHED' OR [status]='PUBLISHED' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[job_posts]  WITH CHECK ADD CHECK  (([validation_status]='REVISION_REQUIRED' OR [validation_status]='REJECTED' OR [validation_status]='APPROVED' OR [validation_status]='PENDING' OR [validation_status]='NOT_SUBMITTED'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='ADMIN' OR [role]='MODERATOR' OR [role]='RECRUITER' OR [role]='CANDIDATE'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([status]='LOCKED' OR [status]='BANNED' OR [status]='INACTIVE' OR [status]='ACTIVE' OR [status]='EMAIL_PENDING'))
GO

-- ============================================================================
-- Patch 001 - Recruiter Management (UC-01..UC-14)
-- Bo sung cot con thieu de UC-01, 04, 05, 06, 07, 10, 11 co du du lieu de luu.
-- Chi ALTER TABLE (them cot, co DEFAULT), KHONG doi/xoa cot da co, an toan
-- chay tren DB da seed du lieu demo.
-- Chay sau ors.sql va seed-demo-data.sql.
-- ============================================================================

-- job_applications: UC-01 hien thi rating trong danh sach; UC-04/07 can luu
-- ly do tu choi ngay tren application (ngoai lich su).
ALTER TABLE [dbo].[job_applications]
    ADD [rating] [decimal](3, 1) NULL,
        [rejection_reason] [nvarchar](500) NULL;
GO

-- application_status_histories: UC-04 A1 phai ghi ly do khi chuyen sang
-- Rejected, va ghi nhan ai la nguoi thuc hien chuyen trang thai.
ALTER TABLE [dbo].[application_status_histories]
    ADD [reason] [nvarchar](500) NULL,
        [changed_by] [int] NULL;
GO

ALTER TABLE [dbo].[application_status_histories]
    ADD CONSTRAINT [FK_application_status_histories_changed_by]
        FOREIGN KEY ([changed_by]) REFERENCES [dbo].[users]([id]);
GO

-- interviews: UC-05 can trang thai rieng cua tung lich phong van
-- (Scheduled/Rescheduled/Cancelled/Completed) doc lap voi pipeline status
-- cua candidate; UC-06 can luu ket qua/danh gia rieng cho tung vong phong
-- van (round), khong ghi de len nhau khi co vong 2.
ALTER TABLE [dbo].[interviews]
    ADD [status] [nvarchar](30) NOT NULL CONSTRAINT [DF_interviews_status] DEFAULT ('SCHEDULED'),
        [round] [int] NOT NULL CONSTRAINT [DF_interviews_round] DEFAULT (1),
        [outcome] [nvarchar](30) NULL,
        [rating] [decimal](3, 1) NULL,
        [comments] [nvarchar](max) NULL;
GO

-- communications: UC-10 gui email la kenh khac voi UC-08 nhan tin trong app,
-- nhung dung chung 1 bang de UC-11 xem lich su theo thoi gian duoc de dang;
-- can type de phan biet, subject cho rieng email, is_read cho UC-11 hien thi
-- trang thai da xem.
ALTER TABLE [dbo].[communications]
    ADD [type] [nvarchar](20) NOT NULL CONSTRAINT [DF_communications_type] DEFAULT ('MESSAGE'),
        [subject] [nvarchar](255) NULL,
        [is_read] [bit] NOT NULL CONSTRAINT [DF_communications_is_read] DEFAULT (0);
GO

-- Rang buoc gia tri hop le cho 3 cot enum-dang-string moi them, tranh du lieu
-- rac tu client cu chua kip validate (service van la noi validate chinh,
-- CHECK constraint o day chi la luoi an toan cuoi cung o tang DB).
ALTER TABLE [dbo].[interviews]
    ADD CONSTRAINT [CK_interviews_status]
        CHECK ([status] IN ('SCHEDULED', 'RESCHEDULED', 'CANCELLED', 'COMPLETED'));
GO

ALTER TABLE [dbo].[interviews]
    ADD CONSTRAINT [CK_interviews_outcome]
        CHECK ([outcome] IS NULL OR [outcome] IN ('PASS', 'FAIL', 'NEED_SECOND_ROUND'));
GO

ALTER TABLE [dbo].[communications]
    ADD CONSTRAINT [CK_communications_type]
        CHECK ([type] IN ('MESSAGE', 'EMAIL'));
GO
